* {
	
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-family: "georgia";
}
html {
	height: 100%;
}

body {
	height: 100vh;
	width: 100vw;
	background-color: #ededed;
	display: flex;
	
	overflow: auto;
	flex-direction: column;
	
}

#header {
	width: 100%;
	height: 50px;
	background-color: #e5e5e5;

}

#menuHeader {
	height: 75px;
	width: 100%;
	background-color: #e5e5e5;
	border-top: 3px solid #d7d7d7;
	border-bottom: 3px solid #d7d7d7;

	display: flex;
	flex-direction: flex-start;
	align-items: center;
	padding-left: 30px;
}

#mainContent {
	flex: 1;
	width: 100%;
	border: ;
	overflow: auto;
	display: flex;
	justify-content: space-evenly;
	padding-top: 10px;

}

#cantoPage, #referencePage {
	width: 40%;
	
	border: 1px solid #eceff9;
	background-color: #fdfdfd;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 15px;
	display: flex;
	justify-content: center;
	box-shadow: 3px 3px 3px 3px #ccc;
	overflow-y: scroll;
	margin-bottom: 30px;
}

#cantoPageContent, #referencePageContent {
	width: 490px;
	font-size: 14pt;
	border: ;

}

select, button, input{
  border:none;
  padding: 10px 20px;
  border-radius:5px;
  height: 40px;
  margin-right: 20px;
  background-color: #fdfdfd;
}

select:focus{
  outline:none;
}
button:hover {
	cursor: pointer;
}

#cantoPageContent div:hover, .permanentHighlight {
	background-color: #fdfca3;

}

.lineWrapper {
	display: flex;
	justify-content: flex-start;
}
.lineNumber {
	padding-right: 10px;
	display: inline;
	font-family: "courier new";
	font-size: 12pt;

}


.reference {
	/*background-color: #fefdd1;*/
	text-decoration-line: underline;
	text-decoration-style: dashed;
	text-decoration-thickness: 2px;
	text-decoration-color: gray;
}
.reference:hover {
	cursor: pointer;

}
.paragraphBreak {
	height: 40px;
}
.paragraphBreak:hover, #cantoTitle:hover {
	background-color: #fdfdfd !important;
}

#cantoTitle {
	padding-bottom: 15px;
}

#searchPage {
	display: none;
	position: absolute;
	width: 600px;
	height: 400px;
	
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	background-color: #f2f2f2;
	box-shadow: 3px 3px 3px 3px #ccc;
	padding: ;
}
#searchPageHeader {
	width: 100%;
	height: 30px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: #ededed;
	border-bottom: 3px solid #e0e0e0;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	font-weight: bold;
}

.generalSearchContainer {
	padding: 15px;
}
.generalSearchContainer p {
	padding-bottom: 3px;
	padding-top: 2px;
}

#books {
	padding-top: 8px;
	padding-bottom: 8px;
}
#title {
	padding-top: 10px;
	padding-left: 15px;
	font-family: "garamond";
	color: #2a2a2a;
}
#title i {
	color: black;
	font-family: "garamond";
}
